resources/efm_documenation/Artifacts/Schema/extension/capturefeesresponse.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by Tyler Technologies (Tyler Technologies) -->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema xmlns:capturefeesresponse="urn:tyler:ecf:v5.0:extensions:capturefeesresponse" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:feesresponse="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/feesresponse" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:capturefeesresponse" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:capturefeesresponse</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="..\UBL-CommonAggregateComponents-2.2.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="..\ecf.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="..\niem\niem-core\4.0\niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="..\niem\utility\structures\4.0\structures.xsd"/>
	<xs:complexType name="CaptureFeesResponseMessageType">
		<xs:annotation>
			<xs:documentation>The response to a CaptureFeesMessage, which may either be 0 indicating no fee is due, a currency amount indicating the fee due upon filing, or unknown indicating that the court case management information system is unable to calculate the fee for the proposed filing.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ecf:ResponseMessageType">
				<xs:sequence>
					<xs:element ref="cac:Payment" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="capturefeesresponse:CaptureFeesResponseMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CaptureFeesResponseMessage" type="capturefeesresponse:CaptureFeesResponseMessageType">
		<xs:annotation>
			<xs:documentation>The response to a CaptureFeesMessage, which may either be 0 indicating no fee is due, a currency amount indicating the fee due upon filing, or unknown indicating that the court case management information system is unable to calculate the fee for the proposed filing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaptureFeesResponseMessageAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An extension point for the enclosing message.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
