resources/efm_documenation/Artifacts/Schema/extension/returndaterequest.xsd

<xs:schema xmlns="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:tyler="urn:tyler:ecf:v5.0:extensions:common" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:returndate="urn:tyler:ecf:v5.0:extensions:returndate" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:returndate" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:getreturndate</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="../ecf.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="../extension/common.xsd"/>
	<xs:complexType name="ReturnDateMessageType">
		<xs:complexContent>
			<xs:extension base="ecf:CaseFilingType">
				<xs:sequence>
					<xs:element ref="ecf:CaseParticipantRoleCode" minOccurs="0"/>
					<xs:element ref="nc:Case" minOccurs="0"/>
					<xs:element ref="returndate:ReturnDateMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReturnDateMessage" type="returndate:ReturnDateMessageType" nillable="false"/>
	<xs:element name="ReturnDateMessageAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
