resources/efm_documenation/Artifacts/Schema/extension/returndateresponse.xsd

<xs:schema xmlns="urn:tyler:ecf:v5.0:extensions:returndateresponse" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:returnresponse="urn:tyler:ecf:v5.0:extensions:returndateresponse" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:local="local" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" xmlns:ns1="urn:tyler:ecf:v5.0:extensions:returndate" targetNamespace="urn:tyler:ecf:v5.0:extensions:returndateresponse" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:returndateresponse</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="../ecf.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../niem/niem-core/4.0/niem-core.xsd"/>

	<xs:complexType name="ReturnDateResponseMessageType">
		<xs:complexContent>
			<xs:extension base="ecf:ResponseMessageType">
				<xs:sequence>
					<xs:element ref="nc:Case" minOccurs="0"/>
					<xs:element ref="returnresponse:ReturnDate" minOccurs="0"/>
					<xs:element ref="returnresponse:ReturnDateResponseMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReturnDateResponseMessage" type="returnresponse:ReturnDateResponseMessageType" nillable="false"/>
	<xs:element name="ReturnDateResponseMessageAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReturnDate" type="nc:DateType"/>
</xs:schema>
