docs/efm_documenation/Artifacts/Schema/wsi/schema/TylerCourtRecordMDE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE" xmlns:tns="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE" xmlns:wrappers="urn:tyler:ecf:v5.0:extensions:wrappers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BasicHttpBinding_TylerCourtRecordMDE_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssX509V3Token10/>
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:EndorsingSupportingTokens>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:tyler:ecf:v5.0:extensions:wrappers" schemaLocation="../../schema/extension/tylerwrappers.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<!-- messages --> 
	<message name="UpdateDocumentRequest">
		<part name="body" element="wrappers:UpdateDocumentRequest"/>
	</message>
	<message name="UpdateDocumentResponse">
		<part name="body" element="wrappers:UpdateDocumentResponse"/>
	</message>
	
	<message name="RecordServiceRequest">
		<part name="body" element="wrappers:RecordServiceRequest"/>
	</message>
	<message name="RecordServiceResponse">
		<part name="body" element="wrappers:RecordServiceResponse"/>
	</message>
	
	<message name="RecordReceiptRequest">
		<part name="body" element="wrappers:RecordReceiptRequest"/>
	</message>
	<message name="RecordReceiptResponse">
		<part name="body" element="wrappers:RecordReceiptResponse"/>
	</message>
	
	<message name="SecureCaseRequest">
		<part name="body" element="wrappers:SecureCaseRequest"/>
	</message>
	<message name="SecureCaseResponse">
		<part name="body" element="wrappers:SecureCaseResponse"/>
	</message>
	
	<message name="GetServiceCaseListRequest">
		<part name="body" element="wrappers:GetServiceCaseListRequest"/>
	</message>
	<message name="GetServiceCaseListResponse">
		<part name="body" element="wrappers:GetServiceCaseListResponse"/>
	</message>
	
	<message name="GetServiceInformationHistoryRequest">
		<part name="body" element="wrappers:GetServiceInformationHistoryRequest"/>
	</message>
	<message name="GetServiceInformationHistoryResponse">
		<part name="body" element="wrappers:GetServiceInformationHistoryResponse"/>
	</message>
	
	<message name="GetPartyListRequest">
		<part name="body" element="wrappers:GetPartyListRequest"/>
	</message>
	<message name="GetPartyListResponse">
		<part name="body" element="wrappers:GetPartyListResponse"/>
	</message>

	<message name="GetPartyRequest">
		<part name="body" element="wrappers:GetPartyRequest"/>
	</message>
	<message name="GetPartyResponse">
		<part name="body" element="wrappers:GetPartyResponse"/>
	</message>
	
	<message name="GetCaseHearingsRequest">
		<part name="body" element="wrappers:GetCaseHearingsRequest"/>
	</message>
	<message name="GetCaseHearingsResponse">
		<part name="body" element="wrappers:GetCaseHearingsResponse"/>
	</message>	
	
	<!-- ports -->
	<portType name="TylerCourtRecordMDE">
		<operation name="UpdateDocument">
			<input message="tns:UpdateDocumentRequest"/>
			<output message="tns:UpdateDocumentResponse"/>
		</operation>
		
		<operation name="RecordService">
			<input message="tns:RecordServiceRequest"/>
			<output message="tns:RecordServiceResponse"/>
		</operation>
		
		<operation name="RecordReceipt">
			<input message="tns:RecordReceiptRequest"/>
			<output message="tns:RecordReceiptResponse"/>
		</operation>
		
		<operation name="SecureCase">
			<input message="tns:SecureCaseRequest"/>
			<output message="tns:SecureCaseResponse"/>
		</operation>
		
		<operation name="GetServiceCaseList">
			<input message="tns:GetServiceCaseListRequest"/>
			<output message="tns:GetServiceCaseListResponse"/>
		</operation>
		
		<operation name="GetServiceInformationHistory">
			<input message="tns:GetServiceInformationHistoryRequest"/>
			<output message="tns:GetServiceInformationHistoryResponse"/>
		</operation>		
		
		<operation name="GetPartyList">
			<input message="tns:GetPartyListRequest"/>
			<output message="tns:GetPartyListResponse"/>
		</operation>
		
		<operation name="GetParty">
			<input message="tns:GetPartyRequest"/>
			<output message="tns:GetPartyResponse"/>
		</operation>
		
		<operation name="GetCaseHearings">
			<input message="tns:GetCaseHearingsRequest"/>
			<output message="tns:GetCaseHearingsResponse"/>
		</operation>				
	</portType>
	
	<!-- bindings -->
	<binding name="TylerCourtRecordMDESoap" type="tns:TylerCourtRecordMDE">
		<wsp:PolicyReference URI="#BasicHttpBinding_TylerCourtRecordMDE_policy"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="UpdateDocument">
			<!-- An operation to update a document on an event. -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/UpdateDocument"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="RecordService">
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/RecordService"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="RecordReceipt">
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/RecordReceipt"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="SecureCase">
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/SecureCase"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetServiceCaseList">
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/GetServiceCaseList"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetServiceInformationHistory">
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/GetServiceInformationHistory"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>

		</operation>
		
		<operation name="GetPartyList">
			<!-- An operation to get party list by a filer id -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/GetPartyList"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetParty">
			<!-- An operation to get a party by a party id -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/GetParty"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetCaseHearings">
			<!-- An operation to get the hearings for a case by the case id -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerCourtRecordMDE/GetCaseHearings"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
</definitions>
