docs/efm_documenation/Artifacts/Schema/wsi/schema/TylerFilingReviewMDE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE" xmlns:tns="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE" xmlns:wrappers="urn:tyler:ecf:v5.0:extensions:wrappers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BasicHttpBinding_TylerFilingReviewMDE_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssX509V3Token10/>
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:EndorsingSupportingTokens>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:tyler:ecf:v5.0:extensions:wrappers" schemaLocation="../../schema/extension/tylerwrappers.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<!-- messages -->
	<message name="GetBatchListRequest">
		<part name="body" element="wrappers:GetBatchListRequest"/>
	</message>
	<message name="GetBatchListResponse">
		<part name="body" element="wrappers:GetBatchListResponse"/>		
	</message>
	
	<message name="GetBatchDetailRequest">
		<part name="body" element="wrappers:GetBatchDetailRequest"/>
	</message>	
	<message name="GetBatchDetailResponse">
		<part name="body" element="wrappers:GetBatchDetailResponse"/>
	</message>
	
	<message name="GetFilingServiceRequest">
		<part name="body" element="wrappers:GetFilingServiceRequest"/>
	</message>
	<message name="GetFilingServiceResponse">
		<part name="body" element="wrappers:GetFilingServiceResponse"/>
	</message>
	
	<message name="GetServiceTypesRequest">
		<part name="body" element="wrappers:GetServiceTypesRequest"/>
	</message>
	<message name="GetServiceTypesResponse">
		<part name="body" element="wrappers:GetServiceTypesResponse"/>
	</message>
	
	<!-- ports -->
	<portType name="TylerFilingReviewMDE">				
		<operation name="GetBatchList">
			<input message="tns:GetBatchListRequest"/>
			<output message="tns:GetBatchListResponse"/>
		</operation>
		
		<operation name="GetBatchDetail">
			<input message="tns:GetBatchDetailRequest"/>
			<output message="tns:GetBatchDetailResponse"/>
		</operation>
		
		<operation name="GetFilingService">
			<input message="tns:GetFilingServiceRequest"/>
			<output message="tns:GetFilingServiceResponse"/>
		</operation>
		
		<operation name="GetServiceTypes">
			<input message="tns:GetServiceTypesRequest"/>
			<output message="tns:GetServiceTypesResponse"/>
		</operation>
	</portType>
	
	<!-- bindings -->
	<binding name="TylerFilingReviewMDESoap" type="tns:TylerFilingReviewMDE">
		<wsp:PolicyReference URI="#BasicHttpBinding_TylerFilingReviewMDE_policy"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetBatchList">
			<!-- An operation to get a list of batches for a criteria -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE/GetBatchList"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetBatchDetail">
			<!-- An operation to get details for a batch -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE/GetBatchDetail"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetFilingService">
			<!-- An operation to get smtp logs for a service contact -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE/GetFilingService"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetServiceTypes">
			<!-- An operation to get service types -->
			<soap:operation soapAction="urn:tyler:ecf:v5.0:extensions:TylerFilingReviewMDE/GetServiceTypes"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
</definitions>
