docs/efm_documenation/Artifacts/Schema/admin/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by mark mcneely (Wiznet) -->
<xs:schema xmlns="urn:tyler:efm:services:schema:Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tyler:efm:services:schema:Common" elementFormDefault="qualified" id="User">
	<xs:simpleType name="REQUIRED_STRING">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BASE100_STRING">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Error" type="ErrorType"/>
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="ErrorCode" type="xs:string"/>
			<xs:element name="ErrorText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="User" type="UserType"/>
	<xs:complexType name="UserType">
		<xs:sequence>
			<xs:element name="Email" type="REQUIRED_STRING"/>
			<xs:element name="FirstName" type="REQUIRED_STRING"/>
			<xs:element name="MiddleName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LastName" type="REQUIRED_STRING"/>
			<xs:element name="LastLoginDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
			<xs:element name="Role" type="RoleLocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RestrictFiling" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="RestrictFilingComment" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="IsUndeliverable" type="xs:boolean" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="UserID" type="xs:string" use="optional"/>
		<xs:attribute name="FirmID" type="xs:string" use="optional"/>
		<xs:attribute name="IsApproved" type="xs:boolean" use="optional"/>
		<xs:attribute name="IsActive" type="xs:boolean" use="optional"/>
		<xs:attribute name="IsActivated" type="xs:boolean" use="optional"/>
		<xs:attribute name="IsLockedOut" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:element name="Firm" type="FirmType"/>
	<xs:complexType name="FirmType">
		<xs:sequence>
			<xs:element name="FirmName" type="REQUIRED_STRING"/>
			<xs:element name="Address" type="AddressType" nillable="true" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="REQUIRED_STRING"/>
		</xs:sequence>
		<xs:attribute name="FirmID" type="xs:string" use="optional"/>
		<xs:attribute name="IsIndividual" type="xs:boolean" use="optional"/>
    <xs:attribute name="IsAgency" type="xs:boolean" use="optional" />
	</xs:complexType>
	<xs:element name="Address" type="AddressType"/>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="AddressLine1" type="REQUIRED_STRING"/>
			<xs:element name="AddressLine2" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="City" type="REQUIRED_STRING"/>
			<xs:element name="State" type="xs:string"/>
			<xs:element name="ZipCode" type="REQUIRED_STRING"/>
			<xs:element name="Country" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ServiceContact" type="ServiceContactType"/>
	<xs:complexType name="ServiceContactType">
		<xs:sequence>
			<xs:element name="FirstName">
				<xs:simpleType>
					<xs:restriction base="REQUIRED_STRING">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MiddleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastName">
				<xs:simpleType>
					<xs:restriction base="REQUIRED_STRING">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="160"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AdministrativeCopy" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" nillable="true" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="BASE100_STRING" nillable="true" minOccurs="0"/>
			<xs:element name="IsPublic" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="IsInFirmMasterList" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="IsUndeliverable" type="xs:boolean" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ServiceContactID" type="xs:string" use="optional"/>
		<xs:attribute name="FirmID" type="xs:string" use="optional"/>
		<xs:attribute name="FirmName" type="xs:string" use="optional"/>
		<xs:attribute name="AddByFirmName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="AdministrativeCopy" type="xs:string"/>
	<xs:element name="Notification" type="NotificationType"/>
	<xs:complexType name="NotificationType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" nillable="false"/>
			<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="IsActive" type="xs:boolean" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NotificationListItem" type="NotificationListItemType"/>
	<xs:complexType name="NotificationListItemType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" nillable="false"/>
			<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Service" type="ServiceType"/>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element name="FilingID" type="xs:string" nillable="false"/>
			<xs:element name="ServiceContact" type="ServiceContactType" nillable="true" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" nillable="false"/>
			<xs:element name="MiddleName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LastName" type="xs:string" nillable="false"/>
			<xs:element name="Email" type="REQUIRED_STRING" nillable="false"/>
			<xs:element name="Status" type="xs:string" nillable="false"/>
			<xs:element name="IsServed" type="xs:boolean" nillable="true"/>
			<xs:element name="TimeSent" type="xs:dateTime" nillable="true"/>
			<xs:element name="TimeServed" type="xs:dateTime" nillable="true"/>
			<xs:element name="HostServed" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Registration" type="RegistrationType"/>
	<xs:simpleType name="RegistrationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="FirmAdministrator">
				<xs:annotation>
					<xs:documentation>Firm administrator initial registration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FirmAdminNewMember">
				<xs:annotation>
					<xs:documentation>Register new user for existing firm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Individual">
				<xs:annotation>
					<xs:documentation>Single user not associated with or represented by a law firm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RoleLocation" type="RoleLocationType"/>
	<xs:element name="Role" type="RoleType"/>
	<xs:complexType name="RoleLocationType">
		<xs:sequence>
			<xs:element name="Location" type="xs:string"/>
			<xs:element name="RoleName" type="RoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RoleType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="FirmAdmin">
				<xs:annotation>
					<xs:documentation>Firm Administrator</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Filer">
				<xs:annotation>
					<xs:documentation>Filer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CriminalFilingFirmAdmin">
				<xs:annotation>
					<xs:documentation>Criminal Filing Firm Administrator</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CriminalFilingFiler">
				<xs:annotation>
					<xs:documentation>Criminal Filing Filer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Attorney" type="AttorneyType"/>
	<xs:complexType name="AttorneyType">
		<xs:sequence>
			<xs:element name="BarNumber" type="REQUIRED_STRING"/>
			<xs:element name="FirstName" type="REQUIRED_STRING"/>
			<xs:element name="MiddleName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LastName" type="REQUIRED_STRING"/>
		</xs:sequence>
		<xs:attribute name="AttorneyID" type="xs:string" use="optional"/>
		<xs:attribute name="FirmID" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="PaymentAccountType" type="PaymentAccountTypeType"/>
	<xs:complexType name="PaymentAccountTypeType">
		<xs:sequence>
		    <xs:element minOccurs="0" maxOccurs="1" name="CodeId" nillable="true" type="xs:int"/>
			<xs:element name="PaymentAccountTypeCode" type="REQUIRED_STRING"/>
			<xs:element name="Description" type="REQUIRED_STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaymentAccount" type="PaymentAccountType"/>
	<xs:complexType name="PaymentAccountType">
		<xs:sequence>
			<xs:element name="AccountName" type="REQUIRED_STRING"/>
			<xs:element minOccurs="0" maxOccurs="1" name="PaymentAccountTypeCodeId" nillable="true" type="xs:int"/>
			<xs:element name="AccountToken" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CardType" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CardLast4" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CardMonth" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="CardYear" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="CardHolderName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Active" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="CourtIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IsAvailableAtAllLocations" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentAccountLocationDetails" type="PaymentAccountLocationDetails" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="PaymentAccountID" type="xs:string" use="optional"/>
		<xs:attribute name="FirmID" type="xs:string" use="optional"/>
		<xs:attribute name="PaymentAccountTypeCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="EFMCode" type="EFMCodeType"/>
	<xs:complexType name="EFMCodeType">
		<xs:sequence>
			<xs:element name="CodeEFSP" type="REQUIRED_STRING"/>
			<xs:element name="CodeWord" type="REQUIRED_STRING"/>
			<xs:element name="CodeECF" type="REQUIRED_STRING"/>
			<xs:element name="Description" type="REQUIRED_STRING"/>
			<xs:element name="CodeTableID" type="REQUIRED_STRING"/>
			<xs:element name="CodeTableDescription" type="REQUIRED_STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EFMLocation" type="EFMLocationType"/>
	<xs:complexType name="EFMLocationType">
		<xs:sequence>
			<xs:element name="CourtIdentifier" type="REQUIRED_STRING"/>
			<xs:element name="NodeID" type="REQUIRED_STRING"/>
			<xs:element name="LocationName" type="REQUIRED_STRING"/>
			<xs:element name="NodeIDCMS" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
  <xs:element name="PaymentAccountLocationDetails" type="PaymentAccountLocationDetails"/>
  <xs:complexType name="PaymentAccountLocationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentAccountLocation" type="PaymentAccountLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentAccountLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CourtIdentifier" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" type="xs:decimal"/>
      <xs:element minOccurs="1" maxOccurs="1" name="MinimumBalance" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
