resources/efm_documenation/Artifacts/NotifySchema/CaseEventMDEService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CaseEventMdeService" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" xmlns:notify="urn:tyler:ecf:extensions:CaseNotifyMessage" xmlns:receipt="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:MessageReceiptMessage-4.0" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="urn:tyler:ecf:extensions:CaseNotifyMessage" schemaLocation="substitution/CaseNotify.xsd"/>
			<xs:import namespace="urn:oasis:names:tc:legalxml-courtfiling:schema:xsd:MessageReceiptMessage-4.0" schemaLocation="message/ECF-4.0-MessageReceiptMessage.xsd"/>
			<xs:element name="NotifyCaseEvent">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="NotifyCaseEventRequest">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="notify:NotifyCaseEventMessage"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NotifyCaseEventResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="NotifyCaseEventResult">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="receipt:MessageReceiptMessage"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CaseEventMDEService_NotifyCaseEvent_InputMessage">
		<wsdl:part name="parameters" element="tns:NotifyCaseEvent"/>
	</wsdl:message>
	<wsdl:message name="CaseEventMDEService_NotifyCaseEvent_OutputMessage">
		<wsdl:part name="parameters" element="tns:NotifyCaseEventResponse"/>
	</wsdl:message>
	<wsdl:portType name="CaseEventMDEService">
		<wsdl:operation name="NotifyCaseEvent">
			<wsdl:input message="tns:CaseEventMDEService_NotifyCaseEvent_InputMessage" wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CaseEventMDEService/NotifyCaseEvent"/>
			<wsdl:output message="tns:CaseEventMDEService_NotifyCaseEvent_OutputMessage" wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CaseEventMDEService/NotifyCaseEventResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_CaseEventMDEService" type="tns:CaseEventMDEService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#BasicHttpBinding_CaseEventMDEService_policy"/>
		<wsdl:operation name="NotifyCaseEvent">
			<soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CaseEventMDEService/NotifyCaseEvent" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CaseEventMdeService">
		<wsdl:port name="BasicHttpBinding_CaseEventMDEService" binding="tns:BasicHttpBinding_CaseEventMDEService">
			<soap:address location="https://pladvsvofsqa1/EFM/CaseEventMDEService.svc"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="BasicHttpBinding_CaseEventMDEService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssX509V3Token10/>
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:EndorsingSupportingTokens>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
