docs/efm_documenation/Artifacts/Schema/extension/batchcallback.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema xmlns="urn:tyler:ecf:v5.0:extensions:batchcallback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:batchcallback="urn:tyler:ecf:v5.0:extensions:batchcallback" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:batchcallback" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:batchcallback</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="../ecf.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="common.xsd"/>
	
	<xs:complexType name="NotifyBatchCompleteMessageType">
		<xs:annotation>
			<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the batch actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element ref="ecf:SendingMDELocationID" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ecf:ServiceInteractionProfileCode" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="nc:DocumentPostDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="common:BatchStatus" minOccurs="1"/>
				<xs:element ref="common:BatchIdentification"/>
				<xs:element ref="common:BatchSize"/>
				<xs:element ref="common:HearingSchedule"/>
				<xs:element ref="common:Envelope" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="batchcallback:NotifyBatchCompleteMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>
	<xs:element name="NotifyBatchCompleteMessage" type="batchcallback:NotifyBatchCompleteMessageType">
		<xs:annotation>
			<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the batch actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NotifyBatchCompleteMessageAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An extension point for the enclosing message.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
