docs/efm_documenation/Artifacts/Schema/extension/taxdelinquency.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Tyler Technologies (Tyler Technologies) -->
<xs:schema xmlns="urn:tyler:ecf:v5.0:extensions:taxdelinquency" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="urn:tyler:ecf:v5.0:extensions:common" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" targetNamespace="urn:tyler:ecf:v5.0:extensions:taxdelinquency" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument">
	<xs:annotation>
		<xs:documentation> Schema for namespace urn:tyler:ecf:v5.0:extensions:taxdelinquency</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:tyler:ecf:v5.0:extensions:common" schemaLocation="common.xsd"/>
	<xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="../ecf.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="../niem/domains/jxdm/6.1/jxdm.xsd"/>
	<xs:complexType name="PartyServiceType">
		<xs:sequence>
			<xs:element ref="common:PartyReference"/>
			<xs:element ref="ServiceTypeCode"/>
			<xs:element ref="DeliveryMethodCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ServiceTypeCode" type="nc:TextType"/>
	<xs:element name="DeliveryMethodCode" type="nc:TextType"/>
	<xs:element name="PartyService" type="PartyServiceType"/>
	<xs:complexType name="CaseAbstractorType">
		<xs:sequence>
			<xs:element ref="Abstractor"/>
			<xs:element ref="Fees"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Abstractor" type="nc:EntityType"/>
	<xs:element name="Fees" type="nc:AmountType"/>
	<xs:element name="CaseAbstractor" type="CaseAbstractorType"/>
	<xs:complexType name="CaseAugmentationType">
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element ref="CaseAbstractor" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PartyService" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PropertyAccountNumber" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PropertyAccountNumber" type="nc:TextType"/>
	<xs:element name="CaseAugmentation" type="CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint"/>
</xs:schema>
